{% extends "Base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Recuperacion de Contraseña</h1>

    </div>
</div>
<div class="container py-5">
    <div class="row py-5">
        <div class="alert alert-primary" role="alert">
            <h3>Restablecimiento de contraseña completado</h3>
            <p>Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.<p>
            <a href="{% url 'inicio-sesion' %}">Iniciar sesión</a>
        </div>
    </div>
</div>

{% endblock %}