{% extends "Base.html" %}
{% load static %}

{% block content %}
<!-- Registro Exitoso -->
<div class="container py-5">
    <div class="row py-5">
        <div class="col-md-9 m-auto text-center">
            <h2>Registro Exitoso</h2>
            {% if mensaje %}
            <div class="alert alert-success" role="alert">
                Alumno registrado exitosamente!
            </div>
            {% endif %}
            <div class="mt-3">
                <a href="{% url 'inicio-sesion' %}" class="btn btn-primary">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
<!-- Fin Registro Exitoso -->
{% endblock %}
